.clj-kondo/
.lsp/
.idea/
./tuma/target
./tuma/classes
./tuma/checkouts
./tuma(profiles.clj
./tuma/pom.xml
./tuma/pom.xml.asc
./tuma/*.jar
./tuma/*.class
./tuma/.lein-*
./tuma/.nrepl-port
./tuma/.prepl-port
./tuma/.hgignore
./tuma/.hg/
